<%- include('../partials/header'); -%>
<!-- ekka Cart Start -->
<!-- <div class="ec-side-cart-overlay"></div>
<div id="ec-side-cart" class="ec-side-cart">
    <div class="ec-cart-inner">
        <div class="ec-cart-top">
            <div class="ec-cart-title">
                <span class="cart_title">My Cart</span>
                <button class="ec-close">×</button>
            </div>
            <ul class="eccart-pro-items">
                <li>
                    <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                            src="assets/images/product-image/6_1.jpg" alt="product"></a>
                    <div class="ec-pro-content">
                        <a href="product-left-sidebar.html" class="cart_pro_title">T-shirt For Women</a>
                        <span class="cart-price"><span>$76.00</span> x 1</span>
                        <div class="qty-plus-minus">
                            <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                        </div>
                        <a href="javascript:void(0)" class="remove">×</a>
                    </div>
                </li>
                <li>
                    <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                            src="assets/images/product-image/12_1.jpg" alt="product"></a>
                    <div class="ec-pro-content">
                        <a href="product-left-sidebar.html" class="cart_pro_title">Women Leather Shoes</a>
                        <span class="cart-price"><span>$64.00</span> x 1</span>
                        <div class="qty-plus-minus">
                            <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                        </div>
                        <a href="javascript:void(0)" class="remove">×</a>
                    </div>
                </li>
                <li>
                    <a href="product-left-sidebar.html" class="sidekka_pro_img"><img
                            src="assets/images/product-image/3_1.jpg" alt="product"></a>
                    <div class="ec-pro-content">
                        <a href="product-left-sidebar.html" class="cart_pro_title">Girls Nylon Purse</a>
                        <span class="cart-price"><span>$59.00</span> x 1</span>
                        <div class="qty-plus-minus">
                            <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                        </div>
                        <a href="javascript:void(0)" class="remove">×</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ec-cart-bottom">
            <div class="cart-sub-total">
                <table class="table cart-table">
                    <tbody>
                        <tr>
                            <td class="text-left">Sub-Total :</td>
                            <td class="text-right">$300.00</td>
                        </tr>
                        <tr>
                            <td class="text-left">VAT (20%) :</td>
                            <td class="text-right">$60.00</td>
                        </tr>
                        <tr>
                            <td class="text-left">Total :</td>
                            <td class="text-right primary-color">$360.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cart_btn">
                <a href="cart.html" class="btn btn-primary">View Cart</a>
                <a href="checkout.html" class="btn btn-secondary">Checkout</a>
            </div>
        </div>
    </div>
</div> -->
<!-- ekka Cart End -->

<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Cart</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="/">Home</a></li>
                            <li class="ec-breadcrumb-item active">Cart</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->

<!-- Ec cart page -->
<section class="ec-page-content section-space-p">
    <div id="hello"></div>
    <div class="container">
        <div class="row">
            <div class="ec-cart-leftside col-lg-8 col-md-12 ">
                <!-- cart content Start -->
                <div class="ec-cart-content">
                    <div class="ec-cart-inner">
                        <div class="row">
                            <form action="#">
                                <div class="table-content cart-table-content">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>name</th>
                                                <th>Price</th>
                                                <th style="text-align: center;">Quantity</th>
                                                <th>Total</th>
                                             
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <%if(user){%>
                                                   <%if(userCart){%>
                                                    <%if(userCart.items.length >= 1){%>    
                                                        <%for(let i=0;i<userCart.items.length;i++){%> 
                                                            <tr>
                                                                <td >
                                                                    <div class="image">
                                                                        <div><img style="width: 100px; height: 90px;" src="/images/uploads/<%=userCart.items[i].product.image[0]%>"  alt=""></div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                   <div ><%=userCart.items[i].product.name%></div>
                                                                </td>
                                                                <td data-label="Price" class="ec-cart-pro-price"><span
                                                                    class="amount">$<%=userCart.items[i].product.price%></span>
                                                                </td>
                                                                <td data-label="Quantity" class="ec-cart-pro-qty"   style="text-align: center;">
                                                                    
                                                                    <div class="cart-qty-plus-minus">
                                                                        <input  type="text" id="quantity<%-userCart.items[i].product._id-%>" name="cartqtybutton" value="<%=userCart.items[i].quantity%>" />
                                                                        <div class="ec_cart_qtybtn">
                                                                            <div class="inc ec_qtybtn" onclick="quantityChange('<%-userCart.user-%>','<%-userCart.items[i].product._id-%>',1)">+</div>
                                                                            <div class="dec ec_qtybtn"  onclick="quantityChange('<%-userCart.user-%>','<%-userCart.items[i].product._id-%>',-1)">-</div>
                                                                        </div>
                                                                    </div>
                                                                </td>

                                                                <td data-label="Total" id="price<%-userCart.items[i].product._id-%>" class="ec-cart-pro-subtotal">$<%=userCart.items[i].price%></td>

                                                                <td data-label="Remove" class="ec-cart-pro-remove">

                                                                    <a onclick="delete('/delete-item/<%=userCart.items[i].product._id%>')" href="/delete-item/<%=userCart.items[i].product._id%>"><i class="ecicon eci-trash-o"></i></a>
                                                               
                                                                </td>  
                                                            </tr> 
                                                        <%}%>
                                                    <%}else{%>
                                                            <div>
                                                                <h3 style="color: red;" class="emp-cart-msg">Your cart is empty!</h3>
                                                            </div>
                                                    <%}%> 
                                                   <%}else{%>
                                                    <div>
                                                        <h3 style="color: red;" class="emp-cart-msg">Your cart is empty!</h3>
                                                    </div>
                                                   <%}%>       
                                                <%}else{%>
                                                    <tr>
                                                        <div>
                                                            <h3 class="emp-cart-msg">Please login fo addin product to the cart</h3>
                                                        </div>
                                                    </tr>
                                                <%}%>        
                                        </tbody>
                                    </table>
                                </div>
                               <%if(userCart){%>
                                <%if(userCart.items.length==0){%>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="ec-cart-update-bottom">
                                                <button class="btn btn-primary"><a style="color: white;" href="/">Continue Shopping</a></button>
                                                <button class="btn btn-primary"><a style="color: white;" href="/">!CART EMPTY</a></button>
                                            </div>
                                        </div>
                                    </div>
                                <%}else{%>
                                     <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ec-cart-update-bottom">
                                            <button class="btn btn-primary"><a style="color: white;" href="/">Continue Shopping</a></button>
                                            <button class="btn btn-primary"><a style="color: white;" href="/checkout">CHECK OUT</a></button>
                                        </div>
                                    </div>
                                </div>
                                <%}%>   
                               <%}else{%>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ec-cart-update-bottom">
                                            <button class="btn btn-primary"><a style="color: white;" href="/">Continue Shopping</a></button>
                                            <button class="btn btn-primary"><a style="color: white;" href="/">!CART EMPTY</a></button>
                                        </div>
                                    </div>
                                </div>
                               <%}%>   
                            </form>
                        </div>
                    </div>
                </div>
                <!--cart content End -->
            </div>
            <!-- Sidebar Area Start -->
            <div class="ec-cart-rightside col-lg-4 col-md-12">
                <div class="ec-sidebar-wrap">
                    <!-- Sidebar Summary Block -->
                    <div class="ec-sidebar-block">
                        <div class="ec-sb-title">
                            <h3 class="ec-sidebar-title">Summary</h3>
                        </div>
                        <div class="ec-sb-block-content">
                            <h4 class="ec-ship-title">Estimate Shipping</h4>
                            <!-- <div class="ec-cart-form">
                                <p>Enter your destination to get a shipping estimate</p>
                                <form action="#" method="post">
                                    <span class="ec-cart-wrap">
                                        <label>Country *</label>
                                        <span class="ec-cart-select-inner">
                                            <select name="ec_cart_country" id="ec-cart-select-country"
                                                class="ec-cart-select">
                                                <option selected="" disabled="">United States</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                                <option value="3">Country 3</option>
                                                <option value="4">Country 4</option>
                                                <option value="5">Country 5</option>
                                            </select>
                                        </span>
                                    </span>
                                    <span class="ec-cart-wrap">
                                        <label>State/Province</label>
                                        <span class="ec-cart-select-inner">
                                            <select name="ec_cart_state" id="ec-cart-select-state"
                                                class="ec-cart-select">
                                                <option selected="" disabled="">Please Select a region, state
                                                </option>
                                                <option value="1">Region/State 1</option>
                                                <option value="2">Region/State 2</option>
                                                <option value="3">Region/State 3</option>
                                                <option value="4">Region/State 4</option>
                                                <option value="5">Region/State 5</option>
                                            </select>
                                        </span>
                                    </span>
                                    <span class="ec-cart-wrap">
                                        <label>Zip/Postal Code</label>
                                        <input type="text" name="postalcode" placeholder="Zip/Postal Code">
                                    </span>
                                </form>
                            </div> -->
                        </div>

                        <div class="ec-sb-block-content">
                            <div class="ec-cart-summary-bottom">
                                    <%if(userCart){%>
                                        <%if(userCart.items.length == 0){%>
                                            <div class="ec-cart-summary">
                                                <div>
                                                    <span class="text-left">Sub-Total</span>
                                                        <div>
                                                            <p class="emp-cart-msg">your Cart is empty!</p>
                                                        </div>
                                                </div>
                                                <div class="ec-cart-summary-total">
                                                    <span class="text-left">Total Amount</span>
                                                        <div>
                                                            <p class="emp-cart-msg">your Cart is empty!</p>
                                                        </div>
                                                </div>
                                            </div>
                                        <%}else{%>
                                            <div class="ec-cart-summary">
                                                <div>
                                                    <span class="text-left">Sub-Total</span>
                                                        <span  class="text-right">$<%=userCart.total%>.00</span>
                                                </div>
                                                <div class="ec-cart-summary-total">
                                                    <span class="text-left">Total Amount</span>
                                                        <span id="totalprice" class="text-right">$<%=userCart.total%>.00</span>
                                                </div>
                                            </div>
                                        <%}%> 
                                    <%}else{%>
                                        <div class="ec-cart-summary">
                                            <div>
                                                <span class="text-left">Sub-Total</span>
                                                    <div>
                                                        <p class="emp-cart-msg">your Cart is empty!</p>
                                                    </div>
                                            </div>
                                            <div class="ec-cart-summary-total">
                                                <span class="text-left">Total Amount</span>
                                                    <div>
                                                        <p class="emp-cart-msg">your Cart is empty!</p>
                                                    </div>
                                            </div>
                                        </div>
                                    <%}%>               
                                   

                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Summary Block -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- New Product Start -->
<!-- <section class="section ec-new-product section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">New Arrivals</h2>
                    <h2 class="ec-title">New Arrivals</h2>
                    <p class="sub-title">Browse The Collection of Top Products</p>
                </div>
            </div>
        </div>
        <div class="row"> -->
            <!-- New Product Content -->
            
            
            
            <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                <div class="ec-product-inner">
                    <div class="ec-pro-image-outer">
                        <div class="ec-pro-image">
                            <a href="product-left-sidebar.html" class="image">
                                <img class="main-image"
                                    src="assets/images/product-image/2_1.jpg" alt="Product" />
                                <img class="hover-image"
                                    src="assets/images/product-image/2_2.jpg" alt="Product" />
                            </a>
                            <span class="percentage">20%</span>
                            <span class="flags">
                                <span class="new">New</span>
                            </span>
                            <a href="#" class="quickview" data-link-action="quickview"
                                title="Quick view" data-bs-toggle="modal"
                                data-bs-target="#ec_quickview_modal"><img
                                    src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                    alt="" /></a>
                            <div class="ec-pro-actions">
                                <a href="compare.html" class="ec-btn-group compare"
                                    title="Compare"><img src="assets/images/icons/compare.svg"
                                        class="svg_img pro_svg" alt="" /></a>
                                <button title="Add To Cart" class=" add-to-cart"><img
                                        src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                        alt="" /> Add To Cart</button>
                                <a class="ec-btn-group wishlist" title="Wishlist"><img
                                        src="assets/images/icons/wishlist.svg"
                                        class="svg_img pro_svg" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="ec-pro-content">
                        <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Jumbo Carry Bag</a></h5>
                        <div class="ec-pro-rating">
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star fill"></i>
                            <i class="ecicon eci-star"></i>
                        </div>
                        <div class="ec-pro-list-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dutmmy text ever since the 1500s, when an unknown printer took a galley.</div>
                        <span class="ec-price">
                            <span class="old-price">$50.00</span>
                            <span class="new-price">$40.00</span>
                        </span>                                                
                        <div class="ec-pro-option">
                            <div class="ec-pro-color">
                                <span class="ec-pro-opt-label">Color</span>
                                <ul class="ec-opt-swatch ec-change-img">
                                    <li class="active"><a href="#" class="ec-opt-clr-img"
                                            data-src="assets/images/product-image/2_1.jpg"
                                            data-src-hover="assets/images/product-image/2_2.jpg"
                                            data-tooltip="Gray"><span
                                                style="background-color:#fdbf04;"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 shop-all-btn"><a href="#">Shop All Collection</a></div>
        </div>
    </div>
</section> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function quantityChange (user,product,count){
        console.log(user,product,count)
        axios.patch(`/cart?userId=${user}&productId=${product}&count=${count}`)
        .then((changeqty)=>{
            if (changeqty.data.stock) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    Toast.fire({
                        icon: 'error',
                        title: 'Out Of Stock!!'
                        })
                    return
                }else {
                   if(changeqty.data.delete){
                    Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                            }).then((result) => {
                            if (result.isConfirmed) {
                                location.href='/delete-item/'+product
                                Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                                )
                            }
                        })
                   }else{
                        document.getElementById("quantity"+product).innerHTML = changeqty.data.qty;
                        document.getElementById('totalprice').innerHTML = "$"+changeqty.data.totalprice+".00";
                        document.getElementById('price'+product).innerHTML ="$"+changeqty.data.price;
                    }
                  
                }
        })
        
}
    
    
</script>

<%- include('../partials/footer'); -%>