<%- include('../partials/header'); -%>




<section class="md">
    <div class="container">
        <div class="row">

            <!-- sidebar panel -->
            <div class="col-lg-3 col-12 side-bar order-2 order-lg-1">
                <div class="widget">
                    <div class="widget-title">
                        <h5>Categories</h5>
                    </div>
                    <div id="accordion" class="accordion-style2">
                        <%for(let i=0;i<category.length;i++){%>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne<%=i%>" aria-expanded="true" aria-controls="collapseOne"><%=category[i].Category%></button>
                                    </h5>
                                </div>
                                <div id="collapseOne<%=i%>" class="collapse closed" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                    <%for(j=0;j<category[i].brands.length;j++){%>
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li><a onclick="products('<%=category[i].Category%>','<%=category[i].brands[j]%>')"><%=category[i].brands[j]%></a></li>
                                             
                                            </ul>
                                        </div>
                                    <%}%>    
                                </div>
                            </div>
                        <%}%>    
                    </div>
                </div>

               

                <div class="offer-slider owl-carousel owl-theme">

                    <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-01.jpg);">
                        <div class="offer-text">
                            <h6 class="mb-1 text-white font-weight-500">Men's</h6>
                            <h4 class="font-weight-500"><a href="#">Up to 50% Off</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                            <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                        </div>
                    </div>

                    <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-02.jpg);">
                        <div class="offer-text">
                            <h6 class="mb-1 text-white font-weight-500">Women's</h6>
                            <h4 class="font-weight-500"><a href="#" class="text-white">Up to 70% Off</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                            <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                        </div>
                    </div>

                    <div class="offer-banner-slider" style="background-image:url(img/offer-banner/offer-slide-03.jpg);">
                        <div class="offer-text">
                            <h6 class="mb-1 text-white font-weight-500">Electronics</h6>
                            <h4 class="font-weight-500"><a href="#" class="text-white">Mega Sale</a></h4>
                            <p>Lorem ipsum dolor sit amet consectetur</p>
                            <a class="butn-style1 fill small" href="#"><span>Buy Now</span></a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- end sidebar panel -->

            <!-- right panel section -->
            <div class="col-lg-9 col-12 ps-lg-1-9 order-1 order-lg-2 mb-1-9 mb-lg-0">
                <div id="product" class="row justify-content-center">
                  <%for(i=0;i<data.length;i++){%>
                    <div class="col-11 col-sm-6 col-xl-4 mb-1-9">
                        <div class="product-grid">
                            <div class="product-img">
                                <a href="/product/<%=data[i]._id%>">
                                    <!-- <div class="label-offer bg-red">Sale</div> -->
                                    <img src="/images/uploads/<%=data[i].image[0]%>" alt="..."></a>
                            </div>
                            <div class="product-description">
                                <form method="post">
                                    <h3><a href="/product/<%=data[i]._id%>"><%=data[i].name%></a></h3>
                                </form>
                                <h4 class="price">
                                                <!-- <span class="regular-price line-through">$99.00</span> -->
                                                <span class="offer-price">$<%=data[i].price%></span>
                                            </h4>
                            </div>
                            <div class="product-buttons">
                                <ul class="ps-0">
                                    <!-- <li><a href="#" class="btn-link" title="Add To Wishlist"><i class="far fa-heart"></i></a></li> -->
                                    <form method="post">
                                        <li><a href="/product/<%=data[i]._id%>" class="butn-style2" title="Add to Cart">View</a></li>
                                    </form>
                                    <!-- <li><a href="#" class="btn-link" title="Add To Compare"><i class="fas fa-random"></i></a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                  <%}%> 
                 
                

                   

                   

                </div>

                <!-- pagination -->
                <div class="pagination text-small text-uppercase text-extra-dark-gray mt-4">
                    <ul>
                        <li><a href="#"><i class="fas fa-long-arrow-alt-left me-1 d-none d-sm-inline-block"></i> Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next <i class="fas fa-long-arrow-alt-right ms-1 d-none d-sm-inline-block"></i></a></li>
                    </ul>
                </div>
                <!-- end pagination -->

            </div>
            <!-- end right panel section -->

        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    async function products(category,brand){
        console.log('77788899900099999999')
        
        axios.post(`/products?category=${category}&brand=${brand}`)
        .then((result)=>{
            if(result.data.data){
                let error = ''
                let html = ''
                let data = result.data.data
                    for(i=0;i<data.length;i++){
                    console.log(data[i].name)
                     html += `<div class="col-11 col-sm-6 col-xl-4 mb-1-9">
                        <div class="product-grid">
                            <div class="product-img">
                                <a href="shop-product-detail">
                                    <img src="/images/uploads/${data[i].image[0]}" alt="..."></a>
                            </div>
                            <div class="product-description">
                                <form method="post">
                                    <h3><a href="/product/${data[i]._id}"> ${data[i].name}</a></h3>
                                </form>
                                <h4 class="price">
                                                <span class="offer-price">$${data[i].price}</span>
                                            </h4>
                            </div>
                            <div class="product-buttons">
                                <ul class="ps-0">
                                    <form method="post">
                                        <li><a href="/product/${data[i]._id}" class="butn-style2" title="Add to Cart">View</a></li>
                                    </form>
                                </ul>
                            </div>
                        </div>
                    </div>`           
                }
                document.getElementById('product').innerHTML = html
            }
            else if(result.data.dataError){
                console.log(55555555555)
                error = `  <div>
                    <div><img src="/assets/images/chatboat/search.jpg" alt=""></div>
                  </div> `
                document.getElementById('product').innerHTML = error
            }
         
        })
    }
</script>


<%- include('../partials/footer'); -%>